{% extends "base.html" %}

{% block title %}
    {% if category %}
        {{ category.title }}
    {% else %}
        Products
    {% endif %}
{% endblock %}

{% block content %}
    <div class="product-detail">
        <h1>{{ product.name }}</h1>
        <h2><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></h2>
        <img src="{{ product.image.url }}" alt="{{ product.name }}">
        <p class="price">${{ product.price }}</p>
        {{ product.description|linebreaks }}
        <h2>Отзывы</h2>
        {% for review in reviews %}
            <p>{{ review.content }}</p>
        {% empty %}
            <p>Нет отзывов</p>
        {% endfor %}
        <h2>Добавить отзыв</h2>
        <form method="post" action="{% url 'products:product_detail' product_id=product.id %}">
            {% csrf_token %}
            {{ form.as_p }}
        <button type="submit">Отправить</button>
</form>
    </div>
{% endblock %}